<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test Page</title>
  </head>
  <body>
    <h1>test Page</h1>
    <form action="/taewon" method="post" id="myForm">
      <input type="text" name="url" id="url" size="100"><button type="submit">저장</button>

    </form>
    
  </body>
</html>
