<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test Page</title>
  </head>
  <body>
    <h1>test Page</h1>
    <h2><%= test %>은행</h2>
    <h2>Code번호 : <%= test1 %></h2>
  </body>
</html>
